.container {
   display: flex;
   justify-content: center; /* Untuk mengatur posisi horizontal ke tengah */
   align-items: center; /* Untuk mengatur posisi vertikal ke tengah (jika perlu) */
   height: 200px; /* Atur tinggi container sesuai kebutuhan */
   /* Atur properties lain jika diperlukan */
}

.centered-image {
   display: inline-block;
   width: 200px;
   height: 100px;
   /* width="200" height="100" */
}
