.navbar{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.142), 0 2px 4px -1px rgba(0, 0, 0, 0.153);
}

.btn-item{
    width: 45px;
    border-radius: 16px;
}

.nav-item{
    margin-right: 50%;
    justify-content: center;
}

/* CSS untuk dropdown di layar desktop */
.notification-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 1000;
    width: 200px;
}

.notification-dropdown.show {
    display: block;
}

/* CSS untuk tampilan halaman di layar mobile */
@media (max-width: 768px) {
    .notification-dropdown {
        display: none; /* Menyembunyikan dropdown di layar mobile */
    }
}



@media (min-width: 320px) and (max-width: 480px) {
    .navbar-brand{
        display: none;
    }
    .navbar-nav {
        justify-content: center;
    }
    .btn-items {
        width: 100%;
    }
    .btn-pill{
        width: 50px;
        height: 35px; ;
    }

}

@media (min-width: 481px) and (max-width: 600px) {

}


/*tablet*/
@media (min-width: 600px) and (max-width: 768px) {

    .navbar-brand {
        flex: 1;
        font-size: 13px;
    }
    .navbar-nav {
        display: flex;
        justify-content: flex-end;

    }

}

@media (min-width:769px) and (max-width:1024px){
    .btn-pill{
        width: 14px;
        height: 35px; ;
    }
}

@media(min-width:1025px){
    .btn-pill{
        width: 80px;
        height: 35px; ;
    }
}
